@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px auto;
    max-width: 1600px;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

.section-lg{
    padding: 50px 20px;
}

.common-heading{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #085291;
    padding-bottom: 15px;
    border-bottom: 3px solid #f8c301;
}

.primary-color{
    color: #191919;
}

.secondary-color{
    color: #5c5c5c;
}

.view-btn{
    color: #085291;
    font-weight: 700;
    font-size: 18px;
}

.view-btn:hover{
    color: #085291;
}

.view-btn span{
    margin-left: 10px;
}

.carousel-item img{
    width: 100%;
    height: 600px;
}

.carousel, #header{
    position: relative;
}

.upper-header{
    background-color: #085291;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-upper-header{
    display: flex;
    gap: 20px;
}

.left-upper-header a{
    color: #fff;
}

.left-upper-header a span{
    margin-right: 10px;
    font-size: 14px;
}


.right-upper-header{
    display: flex;
    gap: 20px;
}

.right-upper-header a{
    color: #fff;
    font-weight: 600;
}

.carousel-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 60%, rgba(0,0,0,0.9) 100%);
}

.carousel-overlay1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(0,0,0,0.9) 100%);
}

.lower-header{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
}

.lower-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.lower-header img{
    width: 100px;
}

.lower-header .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lower-header .school-name{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}
  
    ul.nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        width: 100%;
    }

    ul.nav .nav-li > a{
        padding: 0px 0px 15px 0px;
        color: #fff;
    }

    ul.nav .nav-li > a{
        margin: 0px 20px;
    }

    ul.nav .nav-li > a.active, ul.nav .nav-li > a:hover{
        border-bottom: 5px solid #f8c301;
    }
    
    ul.nav a{
        text-decoration: none;
        padding: 9px 0px;
        font-size: 18px;
        cursor: pointer;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li a.active, .nav-li a:hover{
      color: #fff;
    }

    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      left: 20px;
      top: 170%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      text-align: left;
      width: 230px;
      position: absolute;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
    }
  
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    
    ul.nav li .dropdown a{
        font-weight: 500;
        font-size: 14px;
        color: #085291;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #fff;
    }
    
    ul.nav li .dropdown a span{
      padding-right: 15px;
    }
  
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: .5;
        transition: opacity .6s ease;
        position: relative;
    }

    .carousel-indicators .active{
        opacity: 1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    /* about page css start */

    .banner-content{
        position: absolute;
        bottom: 10%;
        left: 9%;
        z-index: 1;
    }

    .breadcrumbs{
        padding: 25px  0px;
    }

    .breadcrumbs .container-fluid a{
        color: #5c5c5c;
    }

    .breadcrumbs span{
        color: #085291;
        margin: 0px 10px;
    }

    .breadcrumbs .container-fluid{
        color: #085291;
    }

    .history-section{
        display: grid;
        grid-template-columns: 3.5fr 8.5fr;
        gap: 40px;
    }

    .left-history{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .left-history img{
        width: 100%;
    }

    .right-history{
        padding: 0px 40px;
    }

    .mission-section, .motto-section{
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .left-mission, .right-motto{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 40px 80px 40px 80px;
    }

    .left-mission h3, .right-motto h3{
        font-weight: 600;
    }

    .left-mission img, .right-motto img{
        width: 100px;
    }

    .left-mission p, .right-motto p{
        font-size: 17px;
    }

    .right-mission img, .left-motto img{
        width: 100%;
    }

    /* about page css end */


    /* contact page css start */

    .contact-banner-content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .contact-banner-content h1{
        font-size: 64px;
        font-weight: 700;
        text-align: center;
    }

    .contact-carousel-overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(255,255,255,0) 10%, rgba(0,0,0,0.9) 100%);
    }

    .contact-carousel-overlay1{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(0,0,0,0.9) 100%);
    }

    .contact-info-section{
        background-color: #085291;
    }

    .contact-info-section .container-fluid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        padding: 0px 30px;
    }

    .contact-info-item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        font-size: 17px;
    }

    .contact-info-item i{
        font-size: 32px;
        color: #fff;
    }

    .contact-info-item p a{
        color: #f8c301;
    }

    .contact-info-item p a:hover{
        color: #f8c301;
        font-weight: 600;
    }

    .enquiry-form{
        background-color: #f2f2f2;
    }

    .form-heading{
        text-align: center;
    }

    .form-heading h3{
        text-transform: uppercase;
        color: #191919;
        font-weight: 800;
        font-size: 48px;
    }

    .form-heading p{
        text-transform: uppercase;
        font-size: 18px;
    }

    .contact-form{
        margin: 0px auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-form-inner{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    .contact-form input, .contact-form select{
        background-color: #fff;
        padding: 15px;
        border: 1px solid #f2f2f2;
    }

    .contact-form input:focus, .contact-form select:focus{
        outline: 0;
        border-color: #e8e8e8;
    }

    .contact-form input::placeholder, .contact-form select{
        color: #5c5c5c;
        font-size: 14px;
    }

    .contact-form .transport label{
        color: #5c5c5c;
        font-size: 14px;
    }

    .contact-form .transport{
        display: flex;
        flex-direction: column;
    }

    .contact-form input[type='submit']{
        background-color: #085291;
        padding: 10px 20px;
        margin-top: 30px;
        justify-content: center;
        width: 10%;
        display: flex;
        color: #fff;
        font-weight: 600;
    }

    .contact-form input[type='submit']:hover{
        background-color: #f8c301;
        color: #085291;
    }

    /* contact page css end */


    /* gallery page css start */

    .right-upper-header a.active{
        color: #f8c301;
    }

    .carousel-item.gallery img{
        height: 450px;
    }

    .photo-desc{
        padding: 0px 30px;
    }

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    margin-bottom: 20px;
  }
  .gallery__item {
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }

   figure{
    margin: 0;
   } 
  .gallery__image {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 100%;
    width: 100%;
  }
  .gallery__image:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.15);
  }
  .gallery__image:hover + .gallery__image__caption {
    display: block;
  }
  .gallery__image__caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    border-radius: 0.375rem;
    color: #fefefe;
    font-weight: 600;
    margin-top: 1.25rem;
    padding: 1rem;
    white-space: nowrap;
    z-index: 1;
  }
  .gallery__navigation--next, .gallery__navigation--prev, .gallery__navigation--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 42px;
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
    width: 42px;
  }
  .gallery__navigation--next:hover, .gallery__navigation--prev:hover, .gallery__navigation--close:hover {
    opacity: 1;
  }
  .gallery__navigation--next::before, .gallery__navigation--prev::before {
    display: flex;
    content: "";
    border: solid #fff;
    border-width: 0 0.25rem 0.25rem 0;
    padding: 0.5rem;
  }
  .gallery__navigation--next {
    right: 1.5rem;
    transform: rotate(-45deg);
  }
  .gallery__navigation--prev {
    left: 1.5rem;
    transform: rotate(135deg);
  }
  .gallery__navigation--close {
    top: 2rem;
    right: 2rem;
  }
  .gallery__navigation--close::before {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(45deg);
    width: 2px;
  }
  .gallery__navigation--close::after {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(-45deg);
    width: 2px;
  }
  .gallery__modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    inset: 0;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
  }
  .gallery__modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
  }
  .gallery__modal[aria-hidden=true] {
    display: none;
  }
  .gallery__modal[aria-hidden=false] {
    display: flex;
  }
  
  .noscroll {
    overflow: hidden;
  }

    /* gallery page css end */



/* calender page css start */

  .event-content{
    position: relative;
  }

  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .header #month {
    color: #085291;
    font-size: 30px;
    font-weight: 600;
  }
  
  .header button {
    width: 75px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
  }
  
  .header button {
    background-color: #085291;
  }
  .weekdays {
    width: 100%;
    display: flex;
    background-color: #5c5c5c;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
  }
  
  .weekdays div {
    width: 100px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .day {
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #cbd4c2;
    color: #7f8fa6;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: rgba(112, 111, 211, 0.1);
    color: #706fd3;
  }
  
  #currentDay {
    background-color: #706fd3;
    color: #fff;
  }
  
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  
  .event.holiday {
    background-color: palegreen;
    color: #3d3d3d;
  }
  
  .plain {
    cursor: default;
    box-shadow: none;
  }
  
  #modal {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #addEvent,
  #viewEvent {
    display: none;
    width: 350px;
    background-color: #fff;
    padding: 25px;
    position: absolute;
    z-index: 20;
  }
  
  #addEvent h2,
  #viewEvent h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  #txtTitle {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #cbd4c2;
    font-size: 16px;
  }
  
  #btnSave {
    background-color: #2ed573;
    border: none;
    padding: 5px 10px;
    color: #fff;
  }
  
  .btnClose {
    background-color: #2f3542;
    border: none;
    padding: 5px 10px;
    color: #fff;
  }
  
  #viewEvent p {
    margin-bottom: 20px;
  }
  
  #btnDelete {
    background-color: #ea2027;
    border: none;
    padding: 5px 10px;
    color: #fff;
  }
  
  .error {
    border-color: #ea2027 !important;
  }
  
  .event-desc{
    border: 1px solid #d1d1d1;
    overflow: hidden;
    padding: 40px 30px 30px;
    min-height: 400px;
  }
  
  .event-desc h3{
    font-size: 20px;
    margin: 0 0 20px;
    padding: 0 0 15px;
    border-bottom: 1px solid #d1d1d1;
  }
  
  .event-desc ul li span{
    font-size: 16px;
    color: #555;
    margin-right: 10px;
  }
  
/* calender page css end */























































/* footer css start */

#footer{
    position: relative;
    background-image: url(images/mission2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #085291;
    opacity: 0.97;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
    border-bottom: 2px solid #FFFFFF21;
}

.footer-item.first{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item.first img{
    width: 100px;
}

.footer-item .common-heading{
    margin-bottom: 30px;
}

.footer-item ul li{
    padding: 5px 0px;
}

.footer-item .contact-btn{
    background-color: #f8c301;
    padding: 10px 25px;
    font-weight: bold;
    color: #085291;
}

.copyright p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}


/* footer css end */