@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px auto;
    max-width: 1600px;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

.section-lg{
    padding: 50px 20px;
}

.common-heading{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #085291;
    padding-bottom: 15px;
    border-bottom: 3px solid #f8c301;
}

#music-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #0077cc;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
      z-index: 9999;
      transition: background 0.3s;
    }
    #music-btn:hover {
      background: #005fa3;
    }
    #music-btn svg {
      fill: #fff;
      width: 28px;
      height: 28px;
    }

.primary-color{
    color: #191919;
}

.secondary-color{
    color: #5c5c5c;
}

.view-btn{
    color: #085291;
    font-weight: 700;
    font-size: 18px;
}

.view-btn:hover{
    color: #085291;
}

.view-btn span{
    margin-left: 10px;
}

.carousel-item img{
    width: 100%;
    height: 600px;
}

.carousel, #header{
    position: relative;
}

.upper-header{
    background-color: #085291;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select#website-select{
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #ffffffee;
  }

.upper-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-upper-header{
    display: flex;
    gap: 20px;
}

.left-upper-header a{
    color: #fff;
}

.left-upper-header a span{
    margin-right: 10px;
    font-size: 14px;
}


.right-upper-header{
    display: flex;
    gap: 20px;
}

.right-upper-header a{
    color: #fff;
}

.right-upper-header a:hover{
    text-decoration: underline;
}

.carousel-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.85) 100%);
}

.lower-header{
    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    z-index: 1111;
}

.lower-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.lower-header img{
    width: 80px;
}

.lower-header .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lower-header .school-name{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    margin-bottom: 0;
}
  
    ul.nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        width: 100%;
    }

    ul.nav .nav-li > a{
        padding: 0px 0px 10px 0px;
        color: #fff;
    }

    ul.nav .nav-li > a{
        margin: 0px 20px;
    }

    ul.nav .nav-li > a.active, ul.nav .nav-li > a:hover{
        border-bottom: 5px solid #f8c301;
    }
    
    ul.nav a{
        text-decoration: none;
        cursor: pointer;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li a.active, .nav-li a:hover{
      color: #fff;
    }

    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      left: 20px;
      top: 160%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      text-align: left;
      width: 230px;
      position: absolute;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
    }
  
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    
    ul.nav li .dropdown a{
        font-weight: 500;
        font-size: 14px;
        color: #085291;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #fff;
    }
    
    ul.nav li .dropdown a span{
      padding-right: 15px;
    }
  


/* card section css start */

.card-section{
    margin-top: -80px;
    position: relative;
    z-index: 1;
}

.card-section .container-fluid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card-item{
    padding: 40px;
    background-color: #085291;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-item:first-child{
    background-color: #10c45c;
}

.card-item:nth-child(2){
    background-color: #fdc735;
}

.card-item .card-header{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* card section css end */


/* about section css start */

.about-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.left-about{
    height: 100%;
}

.left-about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-desc{
    margin-top: 30px;
}

.card-body{
  padding: 0;
}

.card-title{
  text-align: center;
  text-transform: uppercase;
  background-color: #085291;
  color:#fff;
  padding: 15px;
}

.card-text{
  padding: 25px;
}

.card-text p img{
  margin-right: 5px;
  width: 50px;
}



/* about section css end */


/* achivement section css start */

.achivement-section-inner{
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 50px;
}

.achivement-desc, .feature-inner{
    margin-top: 30px;
}

.achivement-desc img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}


.feature-bg{
  background-image: url('images/about-img.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.feature-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #085291;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.features-section .common-heading{
  position: relative;
  z-index: 1;
  color: #fff;
}

.features-section .common-heading h2{
  position: relative;
  z-index: 1;
  color: #fff;
}

.feature-inner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.feature-heading{
    display: flex;
    gap: 20px;
    align-items: center;
}

.feature-item{
  border: 2px solid #FFFFFF21;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}

.feature-item img{
  width: 50px;
}

.feature-item .feature-desc{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* achivement section css end */


/* Gallery Page CSS Start */

.right-upper-header a.active {
    color: #f8c301;
}

.carousel-item.gallery img {
    height: 450px;
}

.photo-desc {
    margin-top: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    margin-bottom: 20px;
}

.gallery__item {
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative; /* Required for caption positioning */
}

figure {
    margin: 0;
}

.gallery__image {
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}

.gallery__image:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.15);
}

.gallery__image__caption {
    display: block; /* Ensure captions are always present */
    position: absolute;
    bottom: 10px; /* Adjust caption positioning */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.375rem;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    white-space: nowrap;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; /* Prevent interference with clicks */
}

.gallery__item:hover .gallery__image__caption {
    opacity: 1; /* Show caption on hover */
}

.gallery__navigation--next,
.gallery__navigation--prev,
.gallery__navigation--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 42px;
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
    width: 42px;
}

.gallery__navigation--next:hover,
.gallery__navigation--prev:hover,
.gallery__navigation--close:hover {
    opacity: 1;
}

.gallery__navigation--next::before,
.gallery__navigation--prev::before {
    display: flex;
    content: "";
    border: solid #fff;
    border-width: 0 0.25rem 0.25rem 0;
    padding: 0.5rem;
}

.gallery__navigation--next {
    right: 1.5rem;
    transform: rotate(-45deg);
}

.gallery__navigation--prev {
    left: 1.5rem;
    transform: rotate(135deg);
}

.gallery__navigation--close {
    top: 2rem;
    right: 2rem;
}

.gallery__navigation--close::before {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(45deg);
    width: 2px;
}

.gallery__navigation--close::after {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(-45deg);
    width: 2px;
}

.gallery__modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    inset: 0;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
}

.gallery__modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

.gallery__modal[aria-hidden=true] {
    display: none;
}

.gallery__modal[aria-hidden=false] {
    display: flex;
}

.noscroll {
    overflow: hidden;
}

/* Gallery Page CSS End */


/* footer css start */

#footer{
    position: relative;
    background-image: url(images/mission2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}

.footer-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #085291;
    opacity: 0.97;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
    border-bottom: 2px solid #FFFFFF21;
}

.footer-item.first{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item.first a:hover{
    text-decoration: underline;
    color: #fff;
}

.footer-item.first img{
    width: 100px;
}

.footer-item .common-heading{
    margin-bottom: 30px;
}

.footer-item ul li{
    padding: 5px 0px;
}

.footer-item .contact-btn{
    background-color: #f8c301;
    padding: 10px 25px;
    font-weight: bold;
    color: #085291;
}

.copyright p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}


/* footer css end */